REACT_APP_API_HOST=http://localhost:3040
REACT_APP_WALLET_HOST=http://localhost:3006
REACT_APP_GRAPHQL_HOST=http://localhost:8000/subgraphs/name/Taraxa/HypePool
HTTPS=true
PORT=80
REACT_APP_TELEGRAM_BOT_NAME=HypeAppBot
REACT_APP_HYPE_ADDRESS=
REACT_APP_ESCROW_ADDRESS=

REACT_APP_IPFS_SECRET=
REACT_APP_IPFS_PROJECT_ID=
REACT_APP_IPFS_HOST='localhost'
REACT_APP_IPFS_PORT=5002
REACT_APP_IPFS_PROTOCOL='http'
REACT_APP_IPFS_BASE_URL='https://ipfs.infura.io/ipfs/'
REACT_APP_IPFS_USE_AUTH=false #false when using local

# Devnet:
# DynamicEscrow: 0xcc6b76485738bf57fF32a8DeF84832Ba0de0a555
# HypePool: 0xaB6601D8F40EEdC0285D25e00CC867A78e17DF7E
